on:
  push:
    branches:
      - main
      - develop
      - release/*
  pull_request:
    types: [opened, synchronize, reopened]
jobs:
  lint:
    name: Lint Code
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node.js v22.21.1
        uses: actions/setup-node@v3
        with:
          node-version: '22.21.1'
          registry-url: https://npm.fontawesome.com/
          scope: '@fortawesome'
          cache: 'npm'

      - name: Install Node Dependencies
        run: npm ci
        env:
          FONTAWESOME_NPM_AUTH_TOKEN: ${{ secrets.NPM_CONFIG_FONT_AWESOME_TOKEN }}

      - name: Check Code Formatting with Prettier
        run: npm run format:check

      - name: Configure Build Cache

        uses: actions/cache@v4
        with:
          path: |
            ~/.npm
            ${{ github.workspace }}/.next/cache
          # Generate a new cache whenever packages or source files change.
          key: ${{ runner.os }}-nextjs-${{ hashFiles('**/package-lock.json') }}-${{ hashFiles('**/*.js', '**/*.jsx', '**/*.ts', '**/*.tsx') }}
          # If source files changed but packages didn't, rebuild from a prior cache.
          restore-keys: |
            ${{ runner.os }}-nextjs-${{ hashFiles('**/package-lock.json') }}-

      - name: Build Project
        run: npm run build
        env:
          PRISMIC_ACCESS_TOKEN: ${{ secrets.PRISMIC_ACCESS_TOKEN }}

      - name: Lint Code with ESLint
        run: npm run lint
        env:
          PRISMIC_ACCESS_TOKEN: ${{ secrets.PRISMIC_ACCESS_TOKEN }}

      - name: Validate TypeScript
        run: npm run validate
